In [24]:
import praw
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time

In [2]:
reddit=praw.Reddit('bot1')

In [3]:
subreddit=reddit.subreddit('gunners')

In [34]:
start=time.time()
comments_dump = []
i=0
for post in subreddit.new(limit=1000):
    for comment in post.comments.list():
        try:
            comments_dump.append((comment.author.name,comment.body,comment.score,comment.created_utc))
        except:
            pass
    i+=1
    if i%100==0:
        print('Completed {}/1000'.format(str(i/100)))
end=time.time()
time_elapsed=end-start

Completed 1.0/1000
Completed 2.0/1000
Completed 3.0/1000
Completed 4.0/1000
Completed 5.0/1000
Completed 6.0/1000
Completed 7.0/1000
Completed 8.0/1000
Completed 9.0/1000

In [36]:
comments_df=pd.DataFrame(comments_dump)
comments_df.to_csv('jul13_aug3.csv')

In [37]:
comments_df.shape

(82005, 4)

In [38]:
comments_df.columns=['author','body','score','timestamp']

In [52]:
counts=comments_df['author'].value_counts().to_frame()
counts.reset_index(inplace=True)
counts.columns=['author','num_comments']
# print(type(counts))
counts.head()

               author  num_comments
0  ReturnOfBenjenRyan           761
1      varro-reatinus           700
2       NemoDropEmOff           597
3           OlisaFifa           565
4        NiallMitch10           488

In [56]:
dfv2=comments_df.groupby('author').mean().merge(counts, how='left', on='author')
worst_karma=dfv2[dfv2['num_comments']>10].sort_values('score')
worst_karma.head()

                    author      score     timestamp  num_comments
5977               geistmg -29.071429  1.627680e+09            14
3973  TetrisTennisTriangle -13.343750  1.626543e+09            32
3181            PiggBodine  -4.190476  1.627298e+09            21
1731             HKAGooner  -4.050000  1.626956e+09            20
5627         doablewarrior  -3.750000  1.627183e+09            16

In [57]:
comments_df.groupby('author').sum().sort_values('score')

                      score     timestamp
author
TetrisTennisTriangle   -427  5.204937e+10
geistmg                -407  2.278752e+10
basadodepartamiento    -165  1.562125e+11
Astronomy_Major        -162  3.252732e+09
benchgregor            -139  1.626425e+10
...                     ...           ...
OlisaFifa              8188  9.195203e+11
Echo361                8690  6.053075e+11
basedsims              8724  4.588156e+11
varro-reatinus         9228  1.139006e+12
NiallMitch10           9971  7.939524e+11

[8659 rows x 2 columns]

In [ ]:
# Compare karma for positive and negative comments
# Compare above based on timestamp
# Find out the time interval with most comments